[submodule "build"]
	path = build
	url = ../../../core-build.git
	branch = .
[submodule "src/core/codecs"]
	path = src/core/codecs
	url = ../../../core-codecs.git
	branch = .
[submodule "src/core/firecast"]
	path = src/core/firecast
	url = ../../../core-firecast.git
	branch = .
[submodule "src/sample"]
	path = src/sample
	url = ../sample.git
	branch = .
[submodule "src/common/java"]
	path = src/common/java
	url = ../../../common/java.git
	branch = .
[submodule "src/common/media"]
	path = src/common/media
	url = ../../../common/media
	branch = .
[submodule "src/common/src/common/helper"]
	path = src/common/helper
	url = ../../../common/helper.git
	branch = .
[submodule "src/common/spotify"]
	path = src/common/spotify
	url = ../../../common/spotify.git
[submodule "src/core/dbclient"]
	path = src/core/dbclient
	url = ../../../core-dbclient.git
