[submodule "build"]
	path = build
	url = git@192.168.1.50:blackfire/core-build.git
	branch = .
[submodule "src/core/codecs"]
	path = src/core/codecs
	url = git@192.168.1.50:blackfire/core-codecs.git
	branch = .
[submodule "src/core/firecast"]
	path = src/core/firecast
	url = git@192.168.1.50:blackfire/core-firecast.git
	branch = .
[submodule "src/sample"]
	path = src/sample
	url = ../sample.git
	branch = .
[submodule "src/common/java"]
	path = src/common/java
	url = ../../../common/java.git
	branch = .
[submodule "src/common/media"]
	path = src/common/media
	url = ../../../common/media
	branch = .
[submodule "src/common/src/common/helper"]
	path = src/common/helper
	url = ../../../common/helper.git
	branch = .
