[submodule "build"]
	path = build
	url = git@192.168.1.50:blackfire/core-build.git
[submodule "src/core/codecs"]
	path = src/core/codecs
	url = git@192.168.1.50:blackfire/core-codecs.git
[submodule "src/core/firecast"]
	path = src/core/firecast
	url = git@192.168.1.50:blackfire/core-firecast.git
